<!--
#ImWithHerchel
                            MMMMMMMMMMMMMMMMMMMMMMM
                             MMMMMMMMMMMMMMMMMMMMMM
                               MMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMM                   MMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMM               MMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMM           MMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMM       MMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMM   MMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM  M
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMM MMMMMMMMMMMMMMMMM  MMMMMMMMMMMMMM
MMMMMMMMMMMMMM   MMMMMMMMMMMMM    MMMMMMMMMMMMMM
MMMMMMMMMMMMMM     MMMMMMMMM      MMMMMMMMMMMMMM
MMMMMMMMMMMMMM       MMMMM        MMMMMMMMMMMMMM
MMMMMMMMMMMMMM         MM         MMMMMMMMMMMMMM
MMMMMMMMMMMMMM                    MMMMMMMMMMMMMM
MMMMMMMMMMMMMM                    MMMMMMMMMMMMMM

 -->
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="assets/stylesheets/application.min.css">
<link rel="icon" type="image/png" href="/src/images/favicon.png" />
<meta name="description" content="Mike Herchel for President: Evidence Based Decisions">
<meta property="og:image" content="/src/images/social-banner.jpg"/>
<meta name="twitter:site" content="@imwithherchel">
<meta name="twitter:image" content="/src/images/logo-hashtag.png">
