
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>About | Mike Herchel for President</title>
    @@include('_meta.html')
  </head>
  <body>
    @@include('_header.html')
    <section class="content container container--small">
      <div class="copy">
        <h1 class="banner">About Mike Herchel</h1>
        <img src="/src/images/mike-joe-lucy.jpg" alt="Mike lived in a Normal Rockwell painting as a child">
        <p>Mike Herchel was born in June 1979 in Poughkeepsie, NY. He grew up on a pig farm in rural northeast Pennsylvania, playing in the woods, and catching crayfish in creeks.</p>
        <img class="pull-right" width="400" src="/src/images/millie-yeller.jpg" alt="Millie and Yeller">
        <p>His family moved to Florida when he was 10 years old. Several years later he became the 8th grade geography bee champion of Murray Middle School!</p>
        <p>Mike currently resides in Gainesville, Florida with his kickass 6 year old daughter (Millie), and a very bad dog that frequently tries to sneak people-food off the counter. He works out of his house for <a href="http://lullabot.com">Lullabot</a>, which is a distributed web development agency. Mike has worked on some of the largest websites in the world.</p>
        <p>Outside of computers, Mike loves to hike and be outdoors. He loves spending time with his daughter, and going to Florida Gator athletics games.</p>
      </div>
    </section>
    @@include('_footer.html')
  </body>
</html>
