
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>About | Mike Herchel for President</title>
    @@include('_meta.html')
  </head>
  <body>
    @@include('_header.html')
    <section class="content container container--small">
      <div class="copy">
        <h1 class="banner">About Mike Herchel</h1>
        <img src="/src/images/mike-joe-lucy.jpg" alt="Mike lived in a Normal Rockwell painting as a child">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi optio fugit molestias rerum distinctio, qui, neque tenetur quod voluptatem maxime explicabo asperiores ex, aliquid deserunt provident sed eum quae. Excepturi.</p>
        <p>Dolor similique magni quasi tempora nemo eveniet, animi dolore, repellendus vitae optio. Provident sequi adipisci voluptas fuga, aut minus molestiae, consequatur dolor quae iure temporibus dolores. Fuga sapiente unde repellat.</p>
        <p>Dolore, laborum alias amet magnam voluptatum quis eum vel sint perspiciatis ipsam, modi suscipit porro similique, laudantium quae, cum rem veniam itaque architecto omnis! Eos omnis quae assumenda impedit vel!</p>
        <p>Autem, error cupiditate ad explicabo a consectetur, quaerat sequi consequatur ea saepe sed ut soluta eveniet fugit accusamus, ab possimus architecto tenetur libero? Aliquid cum placeat sunt repellendus eos rem.</p>
        <p>Mollitia perferendis, sequi debitis quos dolor maiores recusandae beatae, quod temporibus magni atque accusamus culpa animi illo voluptatem? Modi molestias, dicta voluptates officiis eaque aliquid doloribus provident dolor assumenda neque!</p>
      </div>
    </section>
    @@include('_footer.html')
  </body>
</html>
