<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Contact | Mike Herchel for President</title>
    <link rel="stylesheet" href="assets/stylesheets/application.css">
    <link rel="icon" type="image/png" href="/src/images/favicon.png" />
    <meta name="description" content="Mike Herchel for President: Evidence Based Decisions">
    <meta property="og:image" content="/images/barcamp-share-image.jpg"/>
    <meta name="twitter:site" content="@imwithherchel">
    <meta name="twitter:image" content="/src/images/logo-hashtag.png">
  </head>
  <body>
    @@include('_header.html')
    <section class="content container container--small">
      <div class="copy">
        <h1 class="banner">Contact Us</h1>
        <p>Hey! Thanks for getting in touch!</p>
        <p>You can email Mike at <a href="mailto:imwithherchel@herchel.com">imwithherchel@herchel.com</a>. You can also tweet us at <a href="https://twitter.com/ImWithHerchel" target="_blank">@ImWithHerchel</a>.</p>
      </div>
    </section>
    @@include('_footer.html')
  </body>
</html>
