<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Contact | Mike Herchel for President</title>
    @@include('_meta.html')
  </head>
  <body>
    @@include('_header.html')
    <section class="content container container--small">
      <div class="copy">
        <h1 class="banner">Contact Us</h1>
        <p>Hey! Thanks for getting in touch!</p>
        <p>You can email Mike at <a href="mailto:imwithherchel@herchel.com">imwithherchel@herchel.com</a>. You can also tweet us at <a href="https://twitter.com/ImWithHerchel" target="_blank">@ImWithHerchel</a>.</p>
      </div>
    </section>
    @@include('_footer.html')
  </body>
</html>
