<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Contact | Mike Herchel for President</title>
    @@include('_meta.html')
  </head>
  <body>
    @@include('_header.html')
    <section class="content container container--small">
      <div class="copy-faq copy">
        <h1 class="banner">Frequently Asked Questions</h1>
        <h2><a id="Why_are_you_running_for_president_0"></a>Why are you running for president?</h2>
        <p>Our current major party nominees are disgusting. One is borderline criminal, and the other is absolutely unstable. I can do better. We can do better.</p>
        <p>I want to take special interests away from Washington. I want to invest in the future. This includes environment, education, and the economy.</p>
        <h2>How did this idea originate?</h2>
        <p>The initial idea started out as a joke. The thinking was the current nominees are horrible, and I can do better. From there, I thought to myself, “Why can’t I have a platform?”. It took off from there.</p>
        <h2><a id="Whos_your_favorite_president_4"></a>Who’s your favorite president?</h2>
        <p>Teddy Roosevelt by far. He broke up big trusts, and was not afraid to go against the system.</p>
        <h2><a id="Who_did_your_website_7"></a>Who did your website?</h2>
        <p>I developed this website! I do this for a living :)</p>
        <h2><a id="Do_you_really_think_you_can_win_9"></a>Do you really think you can win?</h2>
        <p>Absolutely not. I would love to influence the conversation, though.</p>
        <h2><a id="I_have_an_idea_How_can_I_contribute_11"></a>I have an idea. How can I contribute?</h2>
        <p>I love ideas, and I’m willing to hear them out. You can suggest ideas <a href="https://docs.google.com/document/d/1kRYn41_nyQ7r5hozpN65jIKjs7C05KZpx8hqzFRIL6Q/edit#">here</a>!</p>
        <h2><a id="I_have_a_question_that_isnt_answered_13"></a>I have a question that isn’t answered.</h2>
        <p><a href="/contact">Contact me</a>! I’d love to answer.</p>
      </div>
    </section>
    @@include('_footer.html')
  </body>
</html>
