<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Contact | Mike Herchel for President</title>
    <link rel="stylesheet" href="assets/stylesheets/application.css">
    <link rel="icon" type="image/png" href="/src/images/favicon.png" />
    <meta name="description" content="Mike Herchel for President: Evidence Based Decisions">
    <meta property="og:image" content="/images/barcamp-share-image.jpg"/>
    <meta name="twitter:site" content="@imwithherchel">
    <meta name="twitter:image" content="/src/images/logo-hashtag.png">
  </head>
  <body>
    @@include('_header.html')
    <section class="content container container--small">
      <div class="copy">
        <h1 class="banner">Frequently Asked Questions</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, amet!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem saepe deleniti pariatur, sit perferendis placeat quibusdam dolores vero, minima amet recusandae minus cumque. Illo soluta doloremque distinctio, a cum facere.</p>
      <h2>Voluptas libero neque provident dolor illum animi. Hic, quos, placeat!</h2>
      <p>Unde totam, molestiae eius recusandae deserunt sunt doloremque libero aperiam, ut reprehenderit, quaerat doloribus quae! Velit itaque impedit commodi nisi aut sint iusto aliquam molestiae! Nisi fugiat tenetur in quo!</p>
      <h2>Earum asperiores fuga, minima quo id ullam facere mollitia, vero.</h2>
      <p>Possimus vitae, suscipit eaque molestiae tempora perspiciatis dolorem. Porro praesentium earum similique sequi cum asperiores ipsum reprehenderit quas totam! Consequatur omnis illo, sit architecto, non delectus deleniti sequi. Cum, est.</p>
      <h2>Iste alias ducimus explicabo dolore asperiores magnam repudiandae soluta laborum!</h2>
      <p>Voluptates consequuntur ea temporibus doloremque sapiente commodi minima, reprehenderit, veritatis placeat omnis provident in ab sit, excepturi laudantium a praesentium beatae quas corporis! Suscipit molestias quae consequatur, neque quis cum.</p>
      <h2>Quaerat consectetur temporibus voluptate necessitatibus praesentium eligendi magni, beatae aperiam.</h2>
      <p>Inventore iste accusantium expedita, est voluptatem earum possimus. Debitis cumque magnam, ipsa maxime officia illo. Non quia nulla dolorum sunt blanditiis cum, perspiciatis voluptate fuga vero. Dolorem vero voluptatem exercitationem.</p>
      </div>
    </section>
    @@include('_footer.html')
  </body>
</html>
