<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mike Herchel for President | Home</title>
    @@include('_meta.html')
  </head>
  <body>
    @@include('_header.html')
    <section class="hero">
      <div class="container">
        <h1>Michael Herchel for President</h1>
        <div class="hero-content">
          <div class="hero-content--first"><img src="/src/images/salute.jpg" alt="Mike Saluting to an Eagle"></div>
          <div class="hero-content--second"><h2>Evidence Based Decisions</h2></div>
        </div>

        <a target="_blank" href="https://paypal.me/mherchel/10" class="button hero-button">Donate</a>
      </div>
    </section>
    <section class="about container">
      <div class="copy">
        <div class="copy-content">
          <h1>Why Run for President?</h1>
          <p>Evidence based decisions. A simple idea like this shouldn’t be radical. But, unfortunately in today’s polarized political climate, it is.</p>
          <ul>
            <li>I’m running because, frankly, our current major-party candidates are lacking. My platform relies on conscientious, and fact-based decision making.</li>
            <li>I promise to remove money from influencing the political process.</li>
            <li>I’ll listen to all sides of the story before making an educated decision.</li>
          </ul>
          <p>Want to learn more? Check out my <a href="/platform.html">platform</a>.</p>
        </div>
      </div>
    </section>
    @@include('_footer.html')
  </body>
</html>
