<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Platform | Mike Herchel for President</title>
    @@include('_meta.html')
  </head>
  <body class="page--platform">
    @@include('_header.html')
    <section class="content container container--small">
      <div class="copy">
        <h1 class="banner right">#ImWithHerchel Platform</h1>
          <div class="platform-copy">

            <article class="platform-item">
              <div class="platform-item--inner">
                <h2><a id="Evidence_Based_Decisions_0"></a>Evidence Based Decisions</h2>
                <p>It sounds logical - but it’s not being done this way. Money and special interests get in the way. In my administration, unbiased (as much as possible) facts will be collected and weighed in the open (when possible).</p>
              </div>
            </article>

            <article class="platform-item">
              <div class="platform-item--inner">
                <h2><a id="Science_2"></a>Science</h2>
                <p>Too many politicians pick and choose from science. This creates many hypocritical laws and policies.</p>
                <p>In my administration, scientific consensus will be respected.</p>
              </div>
            </article>

            <article class="platform-item">
              <div class="platform-item--inner">
                <h2><a id="Environment_6"></a>Environment</h2>
                <p>The human race is at a place where we’ve never been. We’re destroying our world, and leaving it for future generations.</p>
                <blockquote>
                <p>A society grows great when old men plant trees whose shade they know they shall never sit in. ― Greek Proverb</p>
                </blockquote>
              </div>
            </article>

            <article class="platform-item">
              <div class="platform-item--inner">
                <h2><a id="Open_Government_10"></a>Open Government</h2>
                <p>I’m a big believer in a transparent government. All meetings should be held in the open when possible, and there should also be an easy to use application for searching these.</p>
                <p>We should also who\when\why amendments are inserted into bills. Too often amendments are added in secret because of payments under the table. By implementing a bill version control system, all changes will be tracked along with the reasoning behind them.</p>
              </div>
            </article>

            <article class="platform-item">
              <div class="platform-item--inner">
                <h2><a id="Military_and_Veterans_14"></a>Military and Veterans</h2>
                <p>Our military is too often given lip-service. Politicians love to talk about how they support the military by issuing blank checks. However, this does not help.</p>
                <p>Our military industrial complex wastes money with no consequences. As president, I will dramatically simplify the military procurement process with the goal being transparency and cost savings, while also ensuring our military is the best equipped in the world.</p>
                <p>I’m for the idea of immediate taxation for wars and military operations. If every paycheck had a separate “Afghanistan Conflict” surtax, politicians would be more likely to think through using our military unless it’s absolutely necessary.</p>
                <p>I will also simplify the Veterans Administrations with the goal being reduced costs and increased efficiency. We need to make sure our veterans not just adequate - but amazing and effective healthcare, with a minimum of red tape.</p>
              </div>
            </article>

            <article class="platform-item">
              <div class="platform-item--inner">
                <h2><a id="4th_Amendment_Rights_22"></a>4th Amendment Rights</h2>
                <p>Modern government has intrusive tools that have never been available before. This includes drones, malware, social media monitoring, and more.</p>
                <p>Because of this, we need to be extra vigilant to prevent our own government from infringing on our 4th amendment rights. The government should not be able to access our private email, social media accounts, and cellphone metadata.</p>
                <p>As president, I will give a full pardon to Edward Snowden, and offer him a position of ‘Privacy Czar’, which will have the appropriate authority to take action.</p>
              </div>
            </article>

            <article class="platform-item">
              <div class="platform-item--inner">
                <h2><a id="Citizens_United_28"></a>Citizens United</h2>
                <p>As president, I will work to overturn the disastrous Citizens United decision that allows unfettered money into our political system.</p>
              </div>
            </article>

            <article class="platform-item">
              <div class="platform-item--inner">
                <h2><a id="Drugs_30"></a>Drugs</h2>
                <p>I will make evidence-based decisions regarding drug policy. What this most likely means is that many drugs including marijuana will become legal, and the cost savings from incarceration will go toward drug prevention and treatment programs that are proven to work.</p>
              </div>
            </article>

            <article class="platform-item">
              <div class="platform-item--inner">
                <h2><a id="LGBT_32"></a>LGBT</h2>
                <p>I’m a big proponent in LGBT issues, and I believe that the government should have no say in who people marry, and what consenting adults do in their own bedrooms.</p>
              </div>
            </article>

            <article class="platform-item">
              <div class="platform-item--inner">
                <h2><a id="Merit_Based_State_Representation_20"></a>Merit Based State Representation</h2>
                <p>TBD</p>
              </div>
            </article>

            <div class="platform-item platform-item--button">
              <div class="platform-button--inner">
                <a href="https://docs.google.com/document/d/1kRYn41_nyQ7r5hozpN65jIKjs7C05KZpx8hqzFRIL6Q/edit#heading=h.5esxwe519dxe" target="_blank" class="button">Have an idea?</a class="button">
                <p>If you have a great idea, click the button above to suggest an addition or change to my platform.</p>
              </div>
            </div>

          </div>
      </div>
    </section>
    @@include('_footer.html')
  </body>
</html>
