<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Platform | Mike Herchel for President</title>
    <link rel="stylesheet" href="assets/stylesheets/application.css">
    <link rel="icon" type="image/png" href="/src/images/favicon.png" />
    <meta name="description" content="Mike Herchel for President: Evidence Based Decisions">
    <meta property="og:image" content="/images/barcamp-share-image.jpg"/>
    <meta name="twitter:site" content="@imwithherchel">
    <meta name="twitter:image" content="/src/images/logo-hashtag.png">
  </head>
  <body>
    @@include('_header.html')
    <section class="content container container--small">
      <div class="copy">
        <h1 class="banner right">#ImWithHerchel Platform</h1>
        <h2>Evidence Based Decisions</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem eos quibusdam hic, aliquid aut explicabo nesciunt quis nobis accusamus, accusantium at? Laborum at dolorum eos ut velit perferendis est sapiente.</p>
        <h2>Second Amendment Rights</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis mollitia magnam vitae labore facilis illum, fugiat. Quisquam ducimus, vero dicta odit cumque ad suscipit repudiandae doloremque, voluptate enim animi eligendi.</p>
        <h2>Environment</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis mollitia magnam vitae labore facilis illum, fugiat. Quisquam ducimus, vero dicta odit cumque ad suscipit repudiandae doloremque, voluptate enim animi eligendi.</p>
      </div>
    </section>
    @@include('_footer.html')
  </body>
</html>
