<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Platform | Mike Herchel for President</title>
    @@include('_meta.html')
  </head>
  <body>
    @@include('_header.html')
    <section class="content container container--small">
      <div class="copy">
        <h1 class="banner right">#ImWithHerchel Platform</h1>
        <h2>Evidence Based Decisions</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem eos quibusdam hic, aliquid aut explicabo nesciunt quis nobis accusamus, accusantium at? Laborum at dolorum eos ut velit perferendis est sapiente.</p>
        <h2>Second Amendment Rights</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis mollitia magnam vitae labore facilis illum, fugiat. Quisquam ducimus, vero dicta odit cumque ad suscipit repudiandae doloremque, voluptate enim animi eligendi.</p>
        <h2>Environment</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis mollitia magnam vitae labore facilis illum, fugiat. Quisquam ducimus, vero dicta odit cumque ad suscipit repudiandae doloremque, voluptate enim animi eligendi.</p>
      </div>
    </section>
    @@include('_footer.html')
  </body>
</html>
