//
// Sitewide mixins
//

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
@mixin hide-text {
  text-indent: -9999px;
  overflow: hidden;
}
@mixin nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin icon($file, $width:15px) {
  position: relative;
  padding-left: 45px;
  @include breakpoint($wide) {
    padding-left: 70px;
  }
  &:before {
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    height: 20px;
    width: $width;
    background-image: url(../../assets/images/#{$file});
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @include center(y);
    @include breakpoint($wide) {
      left: 25px;
      height: 25px;
      width: $width+5;
    }
  }
}

// Center
// Centers an element with reference to the parent element that is not position: static
//
// Note that for this to work properly, you will need to absolutely position this element before applying this mixin
//
// Params
//   $way: x (for horizontal centering), y (vertical centering), or xy (centered in both ways)
//
@mixin center($way:'xy') {
  @if $way == 'x' {
    left: 50%;
    transform: translateX(-50%);
  } @else if $way == 'y' {
    top: 50%;
    transform: translateY(-50%);
  } @else if $way == 'none' {
    top: auto;
    left: auto;
    transform: translate(0, 0);
  } @else {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin skew($x,$y) {
  -webkit-transform: skew($x, $y);
     -moz-transform: skew($x, $y);
       -o-transform: skew($x, $y);
      -ms-transform: skew($x, $y);
          transform: skew($x, $y);
}


// Adds a begin quote with a color
@mixin beginquote($color: #{$red}, $opacity: 0.7, $right-positioning: 100%) {
  &:before {
    content: "";
    display: inline-block;
    background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Aa%3D%22http%3A//ns.adobe.com/AdobeSVGViewerExtensions/3.0/%22%0A%09%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22111px%22%20height%3D%2296px%22%20viewBox%3D%220%200%20111%2096%22%20overflow%3D%22visible%22%20enable-background%3D%22new%200%200%20111%2096%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cdefs%3E%0A%3C/defs%3E%0A%3Cpath%20fill%3D%22#{$color}%22%20d%3D%22M51.312%2C96.253H0V56.737c0-14.548%2C3.027-26.029%2C9.083-34.443C15.138%2C13.88%2C25.518%2C6.448%2C40.224%2C0l11.088%2C20.996%0A%09c-9.044%2C4.247-15.295%2C8.474-18.755%2C12.681c-3.461%2C4.207-5.387%2C9.181-5.78%2C14.922h24.535V96.253z%20M111.115%2C96.253H59.805V56.737%0A%09c0-14.548%2C3.027-26.029%2C9.082-34.443C74.942%2C13.88%2C85.322%2C6.448%2C100.027%2C0l11.088%2C20.996c-9.043%2C4.247-15.295%2C8.474-18.755%2C12.681%0A%09s-5.387%2C9.181-5.78%2C14.922h24.535V96.253z%22/%3E%0A%3C/svg%3E%0A);
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    right: $right-positioning;
    top: -15px;
    opacity: $opacity;
    margin-left: -40px;
    margin-right: 10px;
  }
}
