//
// Sitewide color variables
//

$off-white: #f4f4f4;
$red: #E53838;
$red-dark: darken($red, 20%);
$blue: #3272CE;
$blue-dark: darken($blue, 20%);
$gray: #353A47;
$gray-light: #DBDEE0;

//
// Sitewide font stacks
//

$font-sans: futura, helvetica, arial, sans-serif;
$font-serif: futura, helvetica, arial, sans-serif;

$header-height: 80px;
$header-height-small: 60px;
