/**
 * Hero
 */
$hero-break: $tablet_wide;

.hero {
  clear: both;
  background: $blue-dark;
  color: white;
  position: relative;

  @include breakpoint($hero-break) {
    height: 700px;
  }

  h1 {
    font-weight: normal;
    font-size: 40px;
  }

  h2 {
    font-weight: normal;
    font-size: 20px;
    opacity: 0.7;
  }
}

.hero-button {
  display: block;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  background: $red;
  letter-spacing: 0.2em;

  @include breakpoint($tablet_narrow) {
    @include center(x);
    line-height: 75px;
    width: auto;
    padding: 0 50px;
    margin: 0;
    position: absolute;
    top: calc(100% - 37px)
  }
  @include breakpoint($wide) {
    line-height: 100px;
    padding: 0 75px;
    top: calc(100% - 50px);
  }
}

.hero-content {
  display: flex;
  flex-direction: column;

  @include breakpoint($hero-break) {
    flex-direction: row;
  }
}

.hero-content--first {
  position: relative;
  overflow: hidden;

  @include breakpoint($hero-break) {
    width: 50%;
    height: 400px;
  }

  img {
    width: 100%;

    @include breakpoint($hero-break) {
      position: absolute;
      @include center;
      min-width: 100%;
      min-height: 100%;
    }
  }
}
.hero-content--second {
  position: relative;

  @include breakpoint($hero-break) {
    width: 50%;
    background: $red;
  }

  h2 {
    position: relative;
    opacity: 1;
    text-align: center;
    white-space: nowrap;

    @include breakpoint($hero-break) {
      @include center;
      @include beginquote(white);
      position: absolute;
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      margin: 0;
    }
  }
}
